@import "mixins"; // Global mixins
@import "variables"; // Global variables
@import "spacing"; // Used to generate margin and padding for your project
@import "typography"; // Typography, glyphs, styling, format and colors
@import "links"; // Anchor styling, format and colors
@import "containers"; // Containers for structure, includes styling, format and background-colors
@import "grids"; // Containers that are "grid-based"

/* ==========================================================================
   Master Base Template - Structure
   ========================================================================== */

body {
	-webkit-overflow-scrolling: touch;
	margin: 0;
	background-color: $black;
	color: $white;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
	line-height: ( 33 / 21);
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
}

