@import "mixins"; // Global mixins
@import "variables"; // Global variables
@import "spacing"; // Used to generate margin and padding for your project
@import "typography"; // Typography, glyphs, styling, format and colors
@import "links"; // Anchor styling, format and colors
@import "containers"; // Containers for structure, includes styling, format and background-colors
@import "grids"; // Containers that are "grid-based"

/* ==========================================================================
   Master Base Template - Structure
   ========================================================================== */

body {
	-webkit-overflow-scrolling: touch;
	margin: 0;
	background-color: $black;
	color: $white;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
	line-height: ( 33 / 21);
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.border-top {
	border-top: 1px solid $gray;
}

.overflow-out {
	position: relative;
	z-index: 1;
}

#logo {
	display: inline-block;
	max-width: 81px;
	img {
		display: block;
		width: 100%;
	}
}

#header {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 40px;
	background-color: rgba(0,0,0,.7);
	box-shadow: 0 10px 20px rgba(0,0,0,.05);
	text-shadow: 1px 1px 0 rgba(0,0,0,.45);
	font-weight: bold;
	& ~ #main {
		&:before {
			display: block;
			height: 40px;
			background-color: #000;
			content: "";
		}
	}
	a {
		&:hover {
			color: $green;
			text-decoration: none;
		}
	}
}



