/* ==========================================================================
   Global Variables
   ========================================================================== */


// ## Global Spaces
$default-space: 20px;
$default-space--2x: $default-space * 2;
$default-space--half: $default-space / 2;
$default-space--smaller: $default-space--half;
$default-space--smallest: 5px;


// ## Global Widths
$max-width: 900px;


// ## Global Colors
